body {
    font-size: 14px;
    font-family: 'Source Sans Pro';
    color: #606060;
    background-color: #FCFBFA;
}


main {
    max-width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #E2756B;
}

header#site-head {
    position: relative;
    height: 75px;
    background-image: url(/assets/images/binding_light.png);
/*    position: absolute;*/
    width: 100%;
    height: 75px;
    top: 0px;

}

header#site-head .background {

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(88,88,88,0) 86%, rgba(102,102,102,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(86%,rgba(88,88,88,0)), color-stop(100%,rgba(102,102,102,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(88,88,88,0) 86%,rgba(102,102,102,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(88,88,88,0) 86%,rgba(102,102,102,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(88,88,88,0) 86%,rgba(102,102,102,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(88,88,88,0) 86%,rgba(102,102,102,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6666666',GradientType=0 ); /* IE6-9 */
    height: 75px;
}


header#site-head .header-content {
    position: absolute;
    height: 32px;
    padding: 14px;
    z-index: 10;
}

header#site-head div.logo,
header#site-head div.title {
    display: inline-block;
}

header#site-head #blog-logo img {
    width: 40px;
    height: 40px;
}

header#site-head .title {
    margin-bottom: 4px;
    margin-left: 12px;
}

header#site-head h1 {
    display: inline-block;
    float: left;
    margin: 0;
}

header#site-head .blog-title {
    font-family: 'Oswald';
    max-width: 200px;
    text-transform: uppercase;
    font-size: 1.5em;
}

header#site-head .blog-description {
    display: none;
    font-size: 1em;
    max-width: 600px;
}


header#site-head .delimiter {
    height: 10px;
    background-image: url(/assets/images/tagg.png);
    top: 65px;
    position: absolute;
    z-index: 1000;
    width: 100%;
}

article .post-meta {
    display: none;
}

/*
article .post-meta time {
    font-size: 0.8em;
    float: left;
    margin-right: 10px;
} */

article h1.post-title {
    font-family: 'Oswald';
    font-size: 2.2em;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: -30px;
    margin-top: 0px;
}

article .time {
    display: inline;
    color: #909090;
    margin-right: 10px;
    float: left;
}

article h3 {
    color: #E2756B;
    margin-top: 40px;
}

article {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    /*border-top: 1px solid #efefef;*/
    font-size: 1.3em;
}

article .post-body {
    /*margin-left: 50px;*/
    line-height: 30px;
}

blockquote {
    margin-left: 0px;
    border-left: 4px solid #E2756B;
    padding-left: 30px;
    font-style: italic;
}

pre {
    margin-left: 0px;
    border: 1px solid #efefef;
    border-left: 4px solid #E2756B;
    padding: 30px;
    font-size: 0.8em;
    line-height: 20px;
}