body {
    font-size: 14px;
    font-family: 'Raleway', 'Arial', 'Verdana', sans-serif;
    background-color: aliceblue;
}

a {
    color: #860079;
}


main {
    max-width: 600px;
}



/* --------- BLOG HEADER --------- */

header#site-head {
    border-bottom: 1px solid #efefef;
    height: 200px;
    background-color: white;
}
header#site-head .logo {
    width: 200px;
    display: inline-block;
}
header#site-head .title {
    width: 460px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}
header#site-head .title .blog-title {
    font-family: 'Viga';
}
header#site-head .title .blog-description {
    color: #909090;
    font-style: italic;
    font-size: 1.1em;
}


/* ----------- BLOG POSTS --------- */

.content {
    clear: both;
    margin-left: 70px;
    margin-top: 30px;
    margin-right: 70px;
    margin-bottom: 30px;
}

main article header div.post-meta {
    max-width: 300px;
    display: inline-block;
    float: right;
    margin-top: 22px;
}

main article header div.post-meta .tags {
    color: #C79C9C;
    margin-top: 4px;
    font-size: 0.9em;
}

main article header h1 {
    font-size: 2.2em;
    max-width: 400px;
    display: inline-block;
    font-family: 'Contrail One';
    margin-bottom: 0px;
}

main article header h1 a {
    text-decoration: none;
}

main article p {
    line-height: 24px;
    font-size: 1.2em;
}


/* ------------- FOOOTER ------------ */

footer {
    border-top: 1px solid #efefef;
    background-color: white;
}


/* Note to self angående responsivitet:
När browsern är smalare än 700 pixlar, dölj description, minska storleken på bilden,
men låt "loggan"ligga kvar till höger om bilden.
*/